

.note::after {
  content: '';
  width: 20%;
  height: 2px;
  border-radius: 999px;
  background-color: #AFAFAF;
  background: linear-gradient(135deg, rgba(43, 171, 217, 1) 0%, rgba(0, 130, 200, 1) 100%);
  position: absolute;
  top: -1.8em;
  left: 0;
}

.note {
  font-size: 0.8em;
  color: #8A8A8A;
  position: relative;
  margin-top: 4em;
  background-color: white;
}

/* Scroller styling */
.scroller {
  height: 2rem;
  line-height: 1.6em;
  position: relative;
  overflow: hidden;
  width: 10em;

}

.scroller > span {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
color: rgb(181, 180, 180);font-weight: 400;
  padding: 10px;
}

@keyframes slide {
  0% {
    top: 1;
  }
  25% {
    top: -1.2em;
  }
  50% {
    top: -2.4em;
  }
  75% {
    top: -3.6em;
  }
}
