.input-container {
  position: relative;
  width: 100%;
}


.input-field {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%; */
  z-index: 1;
}

.placeholder-text {
  position: absolute;
  top: 50%;
  left: 20px;
  bottom: 1;
  transform: translateY(-50%);
  font-size: 1rem;
  color: gray;
  white-space: nowrap;
  pointer-events: none;
  transition: transform 3s ease, opacity 5s ease;
  z-index: 10;
}

.scroll-up {
  transform: translateY(-220%);
  opacity: 1;
}

@media screen and (max-width: 700px) {
  .mediamscreen {
    margin-top: 3rem;
    height: 60vh !important;
  }
}
  
@media (min-width: 900px) and (max-width: 1300px) {
  .UnlimitedChatGPT {
    margin-top: 6rem !important;
  }
}
