/* Base styles */
.flex {
  display: flex;
}

.space-x-4 {
  gap: 8px;
}

/* Scroll animations */
@keyframes scrollRightToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes scrollLeftToRight {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 30s linear infinite;
}

/* Container and row styles */
.scroll-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 10px 0;
}

.scroll-row {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  will-change: transform;
}

/* Image container styles */
.image-container {
  flex: 0 0 auto;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin: 0 4px;
}

.image-container img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
}

.image-container:hover {
  transform: scale(1.05);
}

/* Search container styles */
.search-container {
  text-align: center;
  margin: 0 auto;
  z-index: 50;
  padding: 10px;
}
/* Pause animation when hovered */
.paused {
  animation-play-state: paused !important;
}


.search-input-wrapper {
  max-width: 400px;
  margin: 0 auto;
}

.logo-heading {
  font-size: 2rem;
  margin-bottom: 0.2rem;
  text-align: center;
}

/* Responsive Styles */
@media (min-width: 1025px) {
  .search-container {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 500px;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .search-container {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
  }
  .logo-heading {
    font-size: 2.25rem;
    margin-top: 4rem;
  }
  .scroll-section {
    margin-top: 2rem;
  }
  .image-container {
    margin: 0 6px;
  }
}

@media (max-width: 640px) {
  .logo-heading {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .search-container {
    padding: 0.5rem 0;
  }
  .search-input-wrapper input {
    height: 2rem;
    padding: 0.5rem;
  }
}

/* Modal styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.modal-actions button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #0066cc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-actions button:hover {
  background-color: #005bb5;
}

.modal-actions button:last-child {
  background-color: #ccc;
}

.modal-actions button:last-child:hover {
  background-color: #999;
}
